@import 'variables';

// Importing FontAwesome for Icons & G fonts.
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;600;700&display=swap');

// Theme Variables
$font-family: 'IBM Plex Mono', monospace;

html {
  background-color: $black;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: $font-family;
  width: 100vw;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


// elements 
canvas {
  display: block;
}

#terminalWindow {
  position: absolute;
  z-index: 9;
  text-align: left;
  border: 1px solid $window-color;

  textarea {
    width: 500px;
    font-weight: 600;
    background-color: $transparent-black;
    color: $green;
    caret-color: $green;
  }

  textarea:focus-visible {
    outline: none;
  }
}

#terminalWindowHeader {
  cursor: move;
  z-index: 10;
  background-color: $window-color;
  color: $black;

  .fa-times-circle:hover {
    cursor: pointer;
    color: $red;
  }

  .fa-minus-circle:hover {
    cursor: pointer;
    color: $yellow;
  }

  .fa-plus-circle:hover {
    cursor: pointer;
    color: $green;
  }
}

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: small;
  background-color: $transparent-black;
  color: $green;

  a {
    color: $yellow;
    text-decoration: none;
  }

  a:hover {
    color: $red;
  }
}

@media(max-width: 768px) {
  #terminalWindow {
    height: 100vh;
    width: 100%;

    textarea {
      width: 100%;
    }
  }
}